<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		

		<style>
			.button {
				width: 100%;
				height: 5em;
				background-color: blue;
				color: white;
				font-size: 2em;
			}

			.button-wrapper {
				padding: 0.5em;
			}

			.container {
				width: 20em;
				margin: 2em auto 2em auto;
				background-color: lightgrey;
			}

			.container h1 {
				display: block;
				width: 100%;
				height: 2em;
				background-color: lightblue;
				padding: 0;
				margin: 0;
				text-align: center;
			}


		</style>

	</head>
	

	<body>
		<div class="container">
			<h1>Tracker</h1>
			<p id="label"></p>

			<div class="button-wrapper">
			<select class="button" name="canvas" id="canvas">
				<option value="non">Please select a canvas to paint on</option>
				{% for c in canvases %}
					<option value="{{ c.uuid }}">{{ c.title }}</option>
				{% endfor %}
			</select>
			<br/>
			<select name="color" id="color_select">
				<option value="red">Red</option>
				<option value="blue">Blue</option>
				<option value="yellow">Yellow</option>
				<option value="green">Green</option>
			</select>
			<br/>
			<input id="width_select" type="range" max="20" min="5" step="0.1">
			<br/>
			<div id="newNameDiv" class="newNameDiv">
				<h2>Enter a name</h2>
				<input type="text" id="newName"></input>
				<button id="newNameBut">Create</button>
			</div>
			<button id="startB" class="button" type="button">Start Painting</button>
			</div>
		</div>

		<script>

			var x = document.getElementById("label");
			x.innerHTML = "Hit start to beging tracking"
			var intervalID;
			var selection;
			var started = false;
			var data = [];
			var url = 'paintr/api/send';

			var startButton = document.getElementById('startB')

			var newNameDiv = document.getElementById("newNameDiv");
			newNameDiv.style.display = "none";
			var newName = document.getElementById('newName');
			var newnameBut = document.getElementById('newNameBut').onclick = function(){
				if (newName.value != '') {
					var xmlhttp = new XMLHttpRequest();
					xmlhttp.open('post', 'paintr/api/create', false)
					xmlhttp.send(JSON.stringify({'canvasTitle':newName.value}));
					if (JSON.parse(xmlhttp.responseText)['respons'] === 'OK') {
						document.location.reload();
					};
				};

			};



			function start(){
				selection = document.getElementById('canvas').value;
				if (selection === 'non' && newName.value === '') {
					x.innerHTML = 'Type in a name for the new canvas';
					newNameDiv.style.display = "block";
				} else {
					newNameDiv.style.display = "none";
					intervalID = setInterval(function(){getLocation()}, 1000);
					startB.style.backgroundColor = "red";
					startB.innerHTML = 'Lift brush'
					started = true;
				}
			}

			function stop (){
				started = false;
				clearInterval(intervalID)
				startB.style.backgroundColor = "blue";
				startB.innerHTML = 'Start Painting'
				x.innerHTML = 'Hit start again to keep tracking'

				var xmlhttp = new XMLHttpRequest();
			    xmlhttp.open("POST", url, true);
			    xmlhttp.send(JSON.stringify({
			    	'uuid': selection,
			    	//test values
			    	'type': 'normal',
			    	'color': document.getElementById('color_select').value,
			    	'width': document.getElementById('width_select').value,
			    	'points': data,
			    }));
			    data = [];
			}

			startB.onclick = function(){
				if (started) {
					stop();
				} else{
					start();
				};
			};

			function getLocation() {
			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(savePosition);
			    } else {
			        x.innerHTML = "Geolocation is not supported by this browser.";
			        started = false;
			        clearInterval(intervalID);
			    }
			}

			function savePosition(position){
				data.push({
					'latitude': position.coords.latitude, 
					'longitude': position.coords.longitude,
				});
			}

		</script>

	</body>
</html>